# Components of Python

- Identifiers
- Data types
- Comments
- Indentation
- Typecasting
- Input and Output functions

## Identifiers

A = 10

1. A is variable
2. = is an operator
3. 10 is intiger

## Rules of Identifiers

1. Allowed char are A-Z , a-z , 0-9 , _
2. Not allowed char are special char like & , @ , space
3. Cannot start with number
4. Cannot use reserved words ex:- for , True ,False
5. Python is acase sensitive language
6. You should not use builtin functions

In [4]:
# List of reserved keywords

import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
# List of builtins

print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

# let me provide you with some examples for identifiers which work(1) and which dosen't(0)

abc = 1
1bc = 0 (cannot start with no) 
abc1_ = 1 
abc_@ = 0 (special char)
sum = 1 (should not use cause its a builtin function)
if = 0  (reserved word)
If = 1 (it will work cause python is case sensitive language)
False = 0 (reserved word)
type = 1 (should not use cause its a builtin function)
false = 1
@info = 0 
abc@123 = 0 (special char)
print = 1 (should not use cause its a builtin function)

# Data Types

A. Fundamental Data types
 - intiger = any no without decimal point 
 - float = any no with decimal point
 - Complex = any no written in form of a+bj where a is a real no and b is imaginery no
 - Bool = either its true / false
 - None = used for missing data
 - String = anything written inside '' , " " , ''' ''' , """ """

B. Derived Data types
 - List = anything written in []
 - Tuple = anything written in()
 - Set = anytthing written in {}
 - Dictionary = it is writttten in {} but it has an key and its value

## FUNDAMENTAL DATA TYPES

In [10]:
a = 99 # any no without decimal point is an intiger datatype
print(a ,type(a))

99 <class 'int'>

In [12]:
b = 9.9 # any no with decimal point is an float datatype 
print(b , type(b))

9.9 <class 'float'>

In [14]:
c = 45+45j # here c is the real no + bj is an imaginery no here the value of j is sqrt of -1
print(c ,type(c))

(45+45j) <class 'complex'>

In [16]:
d = True   # this is use for conditional purpose
dx = False
print (d , type(d))
print (dx , type(dx))

True <class 'bool'>
False <class 'bool'>

In [18]:
e = None # it is used for placeholder purposes
print(e, type(e))

None <class 'NoneType'>

In [20]:
f = 'python123@gmail.com' # we can write anything  word , sentence even a paragraph
print (f ,type(f))

python123@gmail.com <class 'str'>

"how's ur mood today" # if there is an apost of es use " "


''' life is a train
    wife is a pain
    love is a wine
    fam is a chain
    good friends are always main ''' # use ''' ''' for multiple lines.

# Derived Data Types

In [23]:
# each element written within [] and seperated by , is a list
# A list is a mustable dattype

a = [1,2,3,4,5]
a[0] = 0.1   
print(a,type(a))

[0.1, 2, 3, 4, 5] <class 'list'>

In [25]:
# each element written within () and seperated by , is a tuple
# A tuple is an immutable datatype

b = (1,2,3,4,5) 
print(b,type(b))

(1, 2, 3, 4, 5) <class 'tuple'>

In [27]:
# each element written within {} and seperated by , is a set
# A set is a collection of unique values

c = {1,2,2,2,2,2,2,2,3,4,5} 
print(c,type(c))

{1, 2, 3, 4, 5} <class 'set'>

In [29]:
# anytthing which is written in {} containing key and its value
# key and its value is referred to as single item

d = {'name' : 'xyz' , 'age' : 25 , 'salary' : 50000}
print(d, type(d))

{'name': 'xyz', 'age': 25, 'salary': 50000} <class 'dict'>

# For clear understanding dict

In [32]:
a = ['xyz' , 35 , 1000000]

print('name =', a[0])
print('age =', a[1])
print('salary =', a[2])

name = xyz
age = 35
salary = 1000000

In [34]:
# now lets say the name came at the end 
a = [35 , 1000000 , 'xyz']

print('name =', a[0])
print('age =', a[1])
print('salary =', a[2]) # as u can see we have jumbled our values

name = 35
age = 1000000
salary = xyz

In [36]:
# now lets try the same thing with dictionary

a = {'name' : 'xyz' ,'age' : 35 , 'salary' : 1000000}

print('name =', a['name'])
print('age =', a['age'])
print('salary =', a['salary']) # here we dont give the posittion we provide the key to extract the data

name = xyz
age = 35
salary = 1000000

In [38]:
a = {'age' : 35 , 'salary' : 1000000 , 'name' : 'xyz'}

print('name =', a['name'])
print('age =', a['age'])
print('salary =', a['salary'])
# EVEN IF WE CHANGE THE POSITION OF A DATAPOINT WE CAN STILL EXTRACT IN CORRECT ORDER

name = xyz
age = 35
salary = 1000000

# Typecasting

- convert one data type to another

1. int() = can be converted into float , complex , str ,bool
2. float = can be converted into int , complex , str ,bool
3. complex() = cannot be converted into int or float
4. str()  = can be only converted into int or float or complex unless string contains matching values only
5. bool() = can be converted into int , float , complex , str

In [41]:
# syntax 1

a = float(64)
print(a ,type(a))

64.0 <class 'float'>

In [43]:
# syntax 2

a = 64
print(a,type(float(a)))

64 <class 'float'>

In [45]:
b = int(24.5)
print(b,type(b))

24 <class 'int'>

In [47]:
c = complex(25+25.5)
print(c,type(c))

(50.5+0j) <class 'complex'>

In [49]:
d = str(33)
print(d,type(d))

33 <class 'str'>

In [51]:
e = bool(99999)
print(e,type(e))

True <class 'bool'>

In [53]:
f = complex('46+55j')
print(f,type(f))

(46+55j) <class 'complex'>

# Eval

- This will help us to dynamically typecaste the data
- This will only work for string data type

In [56]:
a = eval('44')
print(a,type(a))

44 <class 'int'>

In [58]:
b = eval('44.77')
print(b,type(b))

44.77 <class 'float'>

In [60]:
c = eval('44+99j')
print(c,type(c))

(44+99j) <class 'complex'>

In [62]:
d = eval('True')
print(d,type(d))

True <class 'bool'>

# INPUT

- Allows the user to enter data
- Input will always collect the data inform of string data type

In [65]:
a = input('enter the data :')

print(a,type(a))

enter the data : Pytthon

Pytthon <class 'str'>

In [67]:
a = '10'
b = '20'

print(a+b) # sttring concatination

1020

In [69]:
a = int('10')
b = int('20')

print(a+b)

30

In [71]:
a = int(input('enter the first no :'))
b = int(input('enter the second no :'))

print(a+b)

enter the first no : 10
enter the second no : 20

30

In [73]:
a = eval(input('enter the first no :'))
b = eval(input('enter the second no :'))

print(a+b)

enter the first no : 56.08
enter the second no : 67.76

123.84

In [76]:
a = input('enter your first name : ')
b = input('enter your second name : ')

print(a+','+b)

enter your first name :  python
enter your second name :  programmer

python,programmer

In [104]:
a = eval(input('enter your first no : '))
b = eval(input('enter your second no : '))

c = (' the addition of '+str(a) +' & '+ str(b) + ' = ' + str(a+b))

print(c)

enter your first no :  45.55
enter your second no :  345

 the addition of 45.55 & 345 = 390.55

In [114]:
a = eval(input('enter your mobile no = '))

b = ('m = +91- '+str(a))

print(b)

enter your mobile no =  56463654354

m = +91- 56463654354

In [116]:
a = input('first name : ')
b = input('second name : ')

c = ('my first name '+a+' , my second name is '+b)
print(c)

first name :  honey
second name :  badger

my first name honey , my second name is badger

# Forrmat String

In [121]:
# Syntax - 1

a = eval(input('enter your first no : '))
b = eval(input('enter your second no : '))

c = (' the addition of {} & {} = {}'.format(a , b , a+b))

print(c)

enter your first no :  34
enter your second no :  435

 the addition of 34 & 435 = 469

In [123]:
# Syntax - 2

a = eval(input('enter your first no : '))
b = eval(input('enter your second no : '))

c = f' the addition of {a} & {b} = {a+b}'

print(c)

enter your first no :  6576
enter your second no :  8798.8798

 the addition of 6576 & 8798.8798 = 15374.8798

In [127]:
a = input('first name : ')
b = input('second name : ')

c = f'my first name {a} , my second name is {b}'
print(c)

first name :  honey
second name :  badger

my first name honey , my second name is badger

In [131]:
a = input('enter name : ')
b = eval(input('enter age : '))
c = eval(input('enter salary : '))

print(f'Details = {a},{b},{c}')

enter name :  veer
enter age :  45
enter salary :  434534.78

Details = veer,45,434534.78

# Output Function

- print

In [137]:
a = 10
b = 20

print(a)
print(b)

10
20

In [145]:
print(a,b) # as u can see the output has space

10 20

In [147]:
# every print statement has built in parameter for ex : sep = ' ',end = /n

a = 10
b = 20
c = 30

print(a,b,c,sep = '---->')

10---->20---->30

In [149]:
a = 10
b = 20
c = 30

print(a,b,c,sep = '^')

10^20^30

In [151]:
a = 10
b = 20
c = 30

print(a,end = '<>')
print(b)
print(c)

10<>20
30

In [157]:
# let me give an example with multiple values

a = 10
b = 20
c = 30
d = 40 
e = 50

print(a,b,sep = '+++' , end = '---')
print(c , end = '\n\n')
print(d , sep = '###')
print(a,b,e , sep = '&&&' , end = '%%%')

10+++20---30

40
10&&&20&&&50%%%

# Comments

- Explain the code ex : # WRITE ANYTHING RELATED TO UR CODE
- it is also used to stop execution of a code
- for multiple lines comment select multtiple lines press cntr + ?

In [162]:
a = 10
b = 20
c = 30
d = 40 
e = 50

print(a)
print(b)
# print(c)
# print(d)
# print(e)

10
20

# Indentation

# For ex 

state 1
state 2
if condition :
    state 3      # here the gap u can see is called indentation
    state 4      
state 5
state 6

In [165]:
a = 10 
b = 20

if a < 20 :
    print('python')
    print('java')
print('hello world')

python
java
hello world

In [169]:
a = 10 
b = 20

if a > 20 :
    print('python')
    print('java')
print('hello world') # as u can see our block of code work with conditions

hello world