# Components of Python

- Identifiers
- Data types
- Comments
- Indentation
- Typecasting
- Input and Output functions

## Identifiers

A = 10

1. A is variable
2. = is an operator
3. 10 is intiger

## Rules of Identifiers

1. Allowed char are A-Z , a-z , 0-9 , _
2. Not allowed char are special char like & , @ , space
3. Cannot start with number
4. Cannot use reserved words ex:- for , True ,False
5. Python is acase sensitive language
6. You should not use builtin functions

In [4]:
# List of reserved keywords

import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
# List of builtins

print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

# let me provide you with some examples for identifiers which work(1) and which dosen't(0)

- abc = 1
- 1bc = 0 (cannot start with no) 
- abc1_ = 1 
- abc_@ = 0 (special char)
- sum = 1 (should not use cause its a builtin function)
- if = 0  (reserved word)
- If = 1 (it will work cause python is case sensitive language)
- False = 0 (reserved word)
- type = 1 (should not use cause its a builtin function)
- false = 1
- @info = 0 
- abc@123 = 0 (special char)
- print = 1 (should not use cause its a builtin function)

# Data Types

1. Fundamental Datatypes (basic)
- int ---> any number without a decimal point
- float ---> any number with decimal point
- complex  ---> any number written in the form of a+bj where a is the real no and b is the imaginery no
- boolean  ---> decision making program either its true / false
- none ---> mostly used for misiing data it occupy the position but does not contain value 
- string ---> anything written inside ('..') ,( "..") ,( '''..''') ,( """...""") is known as string. inside a string u can write a word ,                                                                                       number , or a sentence
              * '..' is string but if it contains apost of es it will give error
              * ".." is string but it can print any statement even if it has apost of es
              *  '''..''' / """..""" it is used for multiple line 

2. Derived Datatypes (from the basic)
- list ---> anything written inside [..] seperated by , is is list
- tuple ---> anything written inside (..) seperated by , is tuple
- set  ---> anything written inside {..} seperated by , is set
- dict (dictionary) ---> anything written in {..} contains a key and value pair is dict

## FUNDAMENTAL DATA TYPES

In [10]:
a = 99 # any no without decimal point is an intiger datatype
print(a ,type(a))

99 <class 'int'>

In [12]:
b = 9.9 # any no with decimal point is an float datatype 
print(b , type(b))

9.9 <class 'float'>

In [174]:
a = 40
b = 60j   # it will be used in algorithems and for imaginery always use j 
          # the value of j is square root of -1
print(a+b , type(a+b))

(40+60j) <class 'complex'>

In [14]:
c = 45+45j # here c is the real no + bj is an imaginery no here the value of j is sqrt of -1
print(c ,type(c))

(45+45j) <class 'complex'>

In [16]:
d = True   # this is use for conditional purpose
dx = False
print (d , type(d))
print (dx , type(dx))

True <class 'bool'>
False <class 'bool'>

In [18]:
e = None # it is used for placeholder purposes
print(e, type(e))

None <class 'NoneType'>

In [20]:
f = 'python123@gmail.com' # we can write anything  word , sentence even a paragraph
print (f ,type(f))

python123@gmail.com <class 'str'>

"how's ur mood today" # if there is an apost of es use " "


''' life is a train
    wife is a pain
    love is a wine
    fam is a chain
    good friends are always main ''' # use ''' ''' for multiple lines.

# Derived Data Types

In [176]:
# each element written within [] and seperated by , is a list
# A list is a mustable datatype

a = [1,2,3,4,5]
a[0] = 0.1   
print(a,type(a))

[0.1, 2, 3, 4, 5] <class 'list'>

In [178]:
a = [2, 4, 5, 6, 5, 6, 6, 7, 86, 45, 34]
a[0] = 999
a[6] = 888
a[3] = 777
a[-1] = 1010
print(a)  # list are mutable

[999, 4, 5, 777, 5, 6, 888, 7, 86, 45, 1010]

In [25]:
# each element written within () and seperated by , is a tuple
# A tuple is an immutable datatype

b = (1,2,3,4,5) 
print(b,type(b))

(1, 2, 3, 4, 5) <class 'tuple'>

In [27]:
# each element written within {} and seperated by , is a set
# A set is a collection of unique values

c = {1,2,2,2,2,2,2,2,3,4,5} 
print(c,type(c))

{1, 2, 3, 4, 5} <class 'set'>

In [29]:
# anytthing which is written in {} containing key and its value
# key and its value is referred to as single item

d = {'name' : 'xyz' , 'age' : 25 , 'salary' : 50000}
print(d, type(d))

{'name': 'xyz', 'age': 25, 'salary': 50000} <class 'dict'>

# For clear understanding Dict

In [181]:
# the data of dictionary can also be stored in the form of tuple or list but there is a problem

a = ['xyz' , 35 , 1000000]

print('name =', a[0])
print('age =', a[1])
print('salary =', a[2])

name = xyz
age = 35
salary = 1000000

In [34]:
# now lets say the name came at the end 
a = [35 , 1000000 , 'xyz']

print('name =', a[0])
print('age =', a[1])
print('salary =', a[2]) # as u can see we have jumbled our values

name = 35
age = 1000000
salary = xyz

In [36]:
# now lets try the same thing with dictionary

a = {'name' : 'xyz' ,'age' : 35 , 'salary' : 1000000}

print('name =', a['name'])
print('age =', a['age'])
print('salary =', a['salary']) # here we dont give the posittion we provide the key to extract the data

name = xyz
age = 35
salary = 1000000

In [183]:
a = {'age' : 35 , 'salary' : 1000000 , 'name' : 'xyz'}

print('name =', a['name'])
print('age =', a['age'])
print('salary =', a['salary'])

# EVEN IF WE CHANGE THE POSITION OF A DATAPOINT WE CAN STILL EXTRACT IN CORRECT ORDER

name = xyz
age = 35
salary = 1000000

# Typecasting

- convert one data type to another

1. int() = can be converted into float , complex , str ,bool
2. float = can be converted into int , complex , str ,bool
3. complex() = cannot be converted into int or float , can be converted into bool or str
4. str()  = can be only converted into int or float or complex unless string contains matching values only
5. bool() = can be converted into int , float , complex , str

In [41]:
# syntax 1

a = float(64)
print(a ,type(a))

64.0 <class 'float'>

In [43]:
# syntax 2

a = 64
print(a,type(float(a)))

64 <class 'float'>

In [186]:
# there is a method of rounding of the float value

a = round(49.55)
print(a,type(a))

50 <class 'int'>

In [45]:
b = int(24.5)
print(b,type(b))

24 <class 'int'>

# Important points under complex

- An int or a float can be converted into complex 
- But a complex cannot be converted into int or float

In [193]:
c = complex(25+25.5)
print(c,type(c))

(50.5+0j) <class 'complex'>

In [188]:
a = complex(233)
print(a,type(a))

(233+0j) <class 'complex'>

# Important points under boolean

- Int --> 0 is false, rest all is true
- Float --> 0.00 is false, rest all is true
- Complex --> 0.0j is false, rest all is true
- String --> ''is false,rest all is true even if u have space ex:'  ' its true
- None --> is always false

## Similarly under derived data types

- empty[] is false
- empty() is false
- empty{} is false
- empty{} dict is also false

In [199]:
a =bool(225)
b = bool(0)
print(a,type(a))
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

In [201]:
a = bool(45.88)
b = bool(0.0)
print(a,type(a))
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

In [203]:
a = bool(23+56j)
b = bool(0+0j)
print(a,type(a))
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

In [205]:
a = bool("jackie")
b = bool(" ")
c = bool("")

print(a,type(a))
print(b,type(b))
print(c,type(c))

True <class 'bool'>
True <class 'bool'>
False <class 'bool'>

# Derived Datatypes

In [208]:
a = bool([2,4,5,6,36])
b =bool([])

print(a,type(a))
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

In [210]:
a = bool((34,5,634,34325,65,3,43))
b = bool(())

print(a,type(a))
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

In [212]:
a = bool({23,34,3,54,523,43,545,35465,4644654,43,345,43,})
b = bool({})

print(a,type(a))
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

In [214]:
a = bool({'name' : 'raju' , 'age' : 10 , 'salary' : 100})
b = bool({})

print(a,type(a))
print(b,type(b))

True <class 'bool'>
False <class 'bool'>

# Important Points Under String

- "Int" --> can be converted into float , int(proper int) , bool , complex
- "Float" --> can be converted into int , float(proper float) , bool , complex
- "Complex" --> can be converted into , bool , complex(proper complex) ,but it cannot be converted into int or float
- "Bool" --> can be converted into bool , int , complex , float

In [221]:
a = int(float("244.87"))                            # hence under string float to convert into int we have take float 
                        #b = int(complex("23+88j")) # complex string cannot be converted into int
c = int(bool("False"))                              # can be converted 
                        #d = int(123bcc)            # cannot be converted cause it has to be an proper int

print(a,type(a))
print(c,type(c))

244 <class 'int'>
1 <class 'int'>

In [237]:
a = float("244")                                             # hence under string int to convert into float 
                        #b = float(complex("23+88j"))        # complex string cannot be converted into float
c = float(bool("false"))                                     # can be converted 
                        #d = float(123.99bcc)                # cannot be converted cause it has to be an proper float

print(a,type(a))
                 #print(b,type(b))
print(c,type(c))
                 #print(d,type(d))

244.0 <class 'float'>
1.0 <class 'float'>

In [235]:
a = complex(int("244"))                                           # can be converted
b = complex(float("23.88"))                                       # can be converted
c = complex(bool("false"))                                        # can be converted 
                            #d = complex("23ab+66ddj")            # cannot be converted cause it has to be an proper complex

print(a,type(a))
print(b,type(b))
print(c,type(c))
                            #print(d,type(d))

(244+0j) <class 'complex'>
(23.88+0j) <class 'complex'>
(1+0j) <class 'complex'>

In [229]:
a = bool(int("244"))                           # can be converted
b = bool(float("23.88"))                       # can be converted
c = bool("falst")                              # can be converted 
d = bool(complex("23+66j"))                    # can be converted

print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
True <class 'bool'>

# Eval

- This will help us to dynamically typecaste the data
- This will only work for string data type

In [56]:
a = eval('44')
print(a,type(a))

44 <class 'int'>

In [58]:
b = eval('44.77')
print(b,type(b))

44.77 <class 'float'>

In [60]:
c = eval('44+99j')
print(c,type(c))

(44+99j) <class 'complex'>

In [62]:
d = eval('True')
print(d,type(d))

True <class 'bool'>

In [241]:
e = eval("None")
print(e,type(e))

None <class 'NoneType'>

# INPUT

- Allows the user to enter data
- Input will always collect the data inform of string data type
- when we give another function for input. we have to type str(a) when we are manually adding a statement (concatination).

In [244]:
a = input()
b = input("enter  the data : " )       # to display a cutom messege
print(a,type (a))
print(b,type(b))

 hi
enter  the data :  hello

hi <class 'str'>
hello <class 'str'>

In [246]:
a = '10'
b = '20'

print(a+b)  # this concept is known as string concatination it can be performed when both are in the form of string

1020

In [69]:
a = int('10')
b = int('20')

print(a+b)

30

In [248]:
a = int(input('enter the first number : ' ))
b = int(input('enter the second number : ' ))

print(a+b , type(a) , type(b))

enter the first number :  50
enter the second number :  50

100 <class 'int'> <class 'int'>

In [73]:
a = eval(input('enter the first no :'))
b = eval(input('enter the second no :'))

print(a+b)

enter the first no : 56.08
enter the second no : 67.76

123.84

In [76]:
a = input('enter your first name : ')
b = input('enter your second name : ')

print(a+','+b)

enter your first name :  python
enter your second name :  programmer

python,programmer

In [104]:
a = eval(input('enter your first no : '))
b = eval(input('enter your second no : '))

c = (' the addition of '+str(a) +' & '+ str(b) + ' = ' + str(a+b))

print(c)

enter your first no :  45.55
enter your second no :  345

 the addition of 45.55 & 345 = 390.55

In [114]:
a = eval(input('enter your mobile no = '))

b = ('m = +91- '+str(a))

print(b)

enter your mobile no =  56463654354

m = +91- 56463654354

In [116]:
a = input('first name : ')
b = input('second name : ')

c = ('my first name '+a+' , my second name is '+b)
print(c)

first name :  honey
second name :  badger

my first name honey , my second name is badger

# Forrmat String

In [250]:
# Syntax - 1

a = eval(input('enter your first no : '))
b = eval(input('enter your second no : '))

c = (' the addition of {} & {} = {}'.format(a , b , a+b)) # always remember to close the cotations before format

print(c)

enter your first no :  10
enter your second no :  25

 the addition of 10 & 25 = 35

In [123]:
# Syntax - 2

a = eval(input('enter your first no : '))
b = eval(input('enter your second no : '))

c = f' the addition of {a} & {b} = {a+b}'

print(c)

enter your first no :  6576
enter your second no :  8798.8798

 the addition of 6576 & 8798.8798 = 15374.8798

In [127]:
a = input('first name : ')
b = input('second name : ')

c = f'my first name {a} , my second name is {b}'
print(c)

first name :  honey
second name :  badger

my first name honey , my second name is badger

In [252]:
a = input('enter name : ')
b = eval(input('enter age : '))
c = eval(input('enter salary : '))

print(f'Details = name : {a}, age : {b},salary : {c}')

enter name :  veer
enter age :  34
enter salary :  900000

Details = name : veer, age : 34,salary : 900000

# Output Function

- Print (Plays an important role to display the output)

# Signature: print(*args, sep=' ', end='\n', file=None, flush=False)

- Docstring: Prints the values to a stream, or to sys.stdout by default.

1. sep: string inserted between values, default a space.

2. end: string appended after the last value, default a newline.
   
4. file: a file-like object (stream); defaults to the current sys.stdout.
   
6. flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [137]:
a = 10
b = 20

print(a)
print(b)

10
20

In [256]:
print(a,b)                  # as u can see the output has space

veer 34

In [258]:
a = 44
b = 55
c = 77
d = 23

print(a,b,c,d, sep = '~~~') # its known as manipulation of sepration

44~~~55~~~77~~~23

In [147]:
# every print statement has built in parameter for ex : sep = ' ',end = /n

a = 10
b = 20
c = 30

print(a,b,c,sep = '---->')

10---->20---->30

In [149]:
a = 10
b = 20
c = 30

print(a,b,c,sep = '^')

10^20^30

In [260]:
# manipulation of end

a = 34
b = 45
c = 66
d = 99

print(a,end='^^')
print(b)
print(c,end = '-->' )
print(d,sep = '<>')
print("hello\n\nworld")
print("jack",end = '++')
                          # these function comes under only comes under print function

34^^45
66-->99
hello

world
jack++

In [151]:
a = 10
b = 20
c = 30

print(a,end = '<>')
print(b)
print(c)

10<>20
30

In [157]:
# let me give an example with multiple values

a = 10
b = 20
c = 30
d = 40 
e = 50

print(a,b,sep = '+++' , end = '---')
print(c , end = '\n\n')
print(d , sep = '###')
print(a,b,e , sep = '&&&' , end = '%%%')

10+++20---30

40
10&&&20&&&50%%%

# Comments

- Explain the code ex : # WRITE ANYTHING RELATED TO UR CODE
- it is also used to stop execution of a code
- for multiple line commnet slect dn command+? , and also can use """ or ''' for multi line coments

In [263]:
# suppose for an example if im working in a company i should not only build a code but also have to explain it 

pi = 3.14                  # like how and y i collected this 
r = 2                      # this is radius so and so

                           # calculation of area of a circle (pi*r**2)
print(3.14*2**2)

12.56

In [265]:
a = 10
b = 20
c = 30
d = 40 
e = 50

print(a)
print(b)
# print(c)
# print(d)
print(e)

10
20
50

In [267]:
a = 10
b = 30 
c = 89
g = 653
f = 45
t = 898

print(a)
print(b)
'''print(c)
print(g)'''
print(f)
print(t)

10
30
45
898

# Indentation

state 1
state 2
if condition :
    state 3      # the space which u can see is block of code     
    state 4      # the block of space is known as indentation
state 5
state 6

In [165]:
a = 10 
b = 20

if a < 20 :
    print('python')
    print('java')
print('hello world')

python
java
hello world

In [269]:
a = 10 
b = 20

if a > 20 :
    print('python')
    print('java')
print('hello world') 

# if the condition is false dnn it only print (hello world) which does not have block of space cause it is not a part of if condition

hello world

In [275]:
a = 40
b = 50

if a < b :
    print("java")
    print("jackie")
else :
    print("python") 

'''if the condition is true dnn it only prints java & jackie cause an imp thing is tht if it is false dnn
the condition which is attched excluded but here its true with condition.'''

java
jackie

'if the condition is true dnn it only prints java & jackie cause an imp thing is tht if it is false dnn\nthe condition which is attched excluded but here its true with condition.'