# Integer

- Any no without a decimal point is an integer

In [2]:
a = -98

print(a,type(a))

-98 <class 'int'>

# Operations possible on integer datatypes

### Arithematic Operations

- Basic ( + , - , * , /)
- Exponent (**)
- Floor Division (//)
- Modulo (%)

In [6]:
a = 10
b = 20

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(type(a) , type(b))         # these are basic arithematic operations

30
-10
200
0.5
<class 'int'> <class 'int'>

In [8]:
# exponent (since there is no character to power off [ex : 2 to the power 4 so the symbol is **])

a = 33
b = 3
print(33*33*33)
print(a**b)

35937
35937

# floor division 

floor value                 exact value              ceiling value
    2                           2.5                        3

In [10]:
# example

a = 10 
b = 4
print(a/b)          # the division gives the exact value 
print(a//b)         # but floor division gives a value lil bit lower

2.5
2

In [12]:
# lets complicate this topic a lil bit

a = -44
b = 4
print(a/b)
print(a//b)   # observe carefully and imagine a scale having -1 , -2 ...etc u will know how u got this answer

-11.0
-11

In [14]:
# suppose it u want ceiling value for the u have to import math

import math

a = 10
b = 4

print(math.ceil(a/b))       # this is higher value of division
print(math.floor(a/b))      # lower value of division
print(a/b)                  # exact value of division

3
2
2.5

In [16]:
# modules % ( this is not for percentage calculation but its used for remainder in divsion )

a =10
b =3
print(10/3)    
print(99%3)   # here it gives the remainder of the division

3.3333333333333335
0

In [18]:
# operations possible of float

a = 10.25
b = 20.08

print(a+b)
print(a-b)
print(a*b)
print(a/b)

30.33
-9.829999999999998
205.82
0.5104581673306773

In [20]:
a = 10.89
b = 3.80

print(a**b)
print(a%b)
print(a//b)

8723.80487307601
3.290000000000001
2.0

In [22]:
# operations on complex

a = 89+45j
b = 66+98j

print(a+b)
print(a-b)
print(a*b)
print(a/b)

(155+143j)
(23-53j)
(1464+11692j)
(0.7366762177650429-0.4120343839541547j)

In [24]:
a = 89+45j
b = 66+98j

print(a**b)
              # print(a%b)
              # print(a//b)

(-2.909470025784475e+111-9.526641550326804e+111j)

# Comparison operator

      > , < , >= , <=

- it always gives the answer in the form of boolean
- it can be performed on int and float
- it cannot be performed on complex
- it cannot be performed on none
- it can be performed on bool
- it cannot be performed on num and strings but can be performed on strings to strings.

In [27]:
a = 20
b = 10
c = 30
d = 2.88

print(a>b)
print(c<d)       # can be performed int to float or int to int

True
False

In [29]:
a = 44.7
b = 38.6
c = 45.88
d = 50

print(a>b)
print(c>d)      # can be performed float to float or float to int

True
False

# a = 89+99j
# b = 66+78j

# print(a>b)  # hence it cannot be performed cause of real and  imaginery no

# a = 45
# b = none

# print(a>b) # cannot be performed cause none dosent have value

In [31]:
a = 2             # its possible cause in python
b = True          
c = 1             # true has a value of 1 
d = False         # and false has a value of 0 

print(a>b)
print(c<d)

True
False

In [33]:
# a = 44
# b = "34"      # cannot perform cause one is in int and other is inform of string...

a = "abc"
b = "ABC@"       
print (a>b)     # possible to perform string to string cause there is an ascii value performed in the backend

True

# Equality Operators 

     == , !=

- this operator never throws an error like comparison operator although it is a part of comparison operator
- it compares everything

In [36]:
a = 34 
b = 56.99
c = 23+12j
d = None
e = "python"
f = True

print (a==b)
print (a==c)
print (a==d)
print (a==e)
print (a==f)

False
False
False
False
False

In [38]:
a = 34 
b = 56.99
c = 23+12j
d = None
e = "python"
f = True

print (b!=a)
print (b!=c)
print (b!=d)
print (b!=e)
print (b!=f)

True
True
True
True
True

In [40]:
a = 34 
b = 56.99
c = 23+12j
d = None
e = "python"
f = True

print (c!=a)
print (c!=b)
print (c!=c)
print (c!=d)
print (c!=e)
print (c!=f)

True
True
False
True
True
True

# Logical Operators

1. True and false [AND OPERATOR]

- it alwys looks for false
- it's like multiplication of 0 & 1
- if both condition are satisfies dnn its true or its false
   
2. True or false  [OR OPERATOR]

- it always looks for true
- it's like addition of 1 & 0
- if one condition is satisfied it gives true or if both condition not satisfies its false

In [43]:
# (and) Table

print  (True and False) 
print  (False and False)
print  (False and True)
print  (True and True)

False
False
False
True

In [45]:
# (or) Table

print (True or False)
print (True or True)
print (False or False)
print (False or True)

True
True
False
True

In [80]:
# Not Table

print(not True)
print(not False)

False
True

In [47]:
_username_ = "julie@gmail.com"
password   = "python"

In [49]:
a = input("enter the email : " )
b = input("enter the password : " )

if ( a.lower() == _username_ ) and (not b == password ) :
    print("logged_in")
else :
    print("incorrect_info")

enter the email :  julie@gmail.com
enter the password :  python

incorrect_info

In [51]:
# In the above code as u can see i entered all the correct details yet it failed cause i have added a not operator
# - which converts true into false and false into true.

In [53]:
jack = "hello robert"
Robert = "hi jack"

In [55]:
a = input("enter your identity : " )
b = input("enter your password : " )

if ( a == jack ) or ( b == robert ) :
    print("welcome brother")

else :
    print("failed convo")

enter your identity :  hello robert
enter your password :  hi jack

welcome brother

In [57]:
name = "Roohi"
age = 33
mobile = 777669090
salary = 25000

In [59]:
a = input("your name : " )
b = eval(input("your age : " ))
c = eval(input("your mobile no : " ))
d = eval(input("your salary : " ))

if ( a == name ) and ( b == age ) and ( c == mobile ) and ( d == salary ) :
    print("welcome mr king " )

else :
    print("intruder")

your name :  roohi
your age :  33
your mobile no :  777669090
your salary :  25000

intruder

In [61]:
a = input(" your name : " )
b = eval(input("your age : " ))
c = eval(input("your mobile no : " ))
d = eval(input("your salary : " ))

if ( a == name ) or ( b == age ) or ( c == mobile ) or ( d == salary ) :
    print("welcome mr king " )

else :
    print("intruder")      
print(f" the name = {a} , age = {b} , mobile no = {c} , salary = {d} " )

 your name :  rooji
your age :  33
your mobile no :  4535345
your salary :  25000

welcome mr king
 the name = rooji , age = 33 , mobile no = 4535345 , salary = 25000

In [63]:
# In the above code anyone condition needs to be satisfied.

## Important points under boolean

- Int --> 0 is false, rest all is true
- float --> 0.00 is false, rest all is true
- complex --> 0.0j is false, rest all is true
- string --> ''is false,rest all is true even if u have space ex:'  ' its true
- None --> is always false

### simimilarly under derived data types


- empty[] is false
- empty() is false
- empty{} is false

# if values are involved there is a small deveation

A and B = result will be A if A is False else B
A or B = result will be A if A is True els B

In [66]:
print(12 and 34)  
print(0 and 23)

34
0

In [68]:
print(56 or 34)
print(0 or 99)

56
99

In [70]:
print(None or 0)

0

In [72]:
print(None and 0)

None

In [74]:
print(12.00 and 13.90)

13.9

In [76]:
print(89+78j and 34+98j)

(34+98j)

# Bitwise operator

- May not come use in data science
- It's used in circuit designing
- All of these values convert into binary

## Bitwise operator

- Bitwise and (&) -- it uses and table after converting it into binary
- Bitwise or (|) -- it uses or table after coverting it into binary
- Bitwise xor (^) --- it uses xor table after converting it into binary
- Bitwise left shift(<<) -- Use exponent
- Bitwise right shift(>>) -- use floor division
- Bitwise not (~) it uses not table

In [84]:
a = 45
b = 21

print(a and b)
print(a & b)

21
5

In [90]:
# Explaination

print(bin(45))
print(bin(21))

print(int(0b000101))

# 1  0  1  1  0  1    this is binary of 45 
# 0  1  0  1  0  1    this is binary of 21 but due to less lenth to make it eqal added a 0 at begininng

# |  |  |  |  |  |
# 0  0  0  1  0  1    i calculated it by and table where 1 = true and 0 = false

0b101101
0b10101
5

In [98]:
int(0b000101) # This value is the calculated value of the above code.

5

In [100]:
a = 45
b = 21

print(a or b)
print(a | b)

45
61

In [104]:
#  Explaination

#  1  0  1  1  0  1      this is binary of 45
#  0  1  0  1  0  1      this is binary of 21 but due to less lenth to make it eqal added a 0 at begininng

#  |  |  |  |  |  |
#  1  1  1  1  0  1      i calculated it by or table where 1 = true and 0 = false 

int(0b111101)

61

# xor table

True and False = True
False and True = True
False and False = False
True and True = False

In [106]:
a  = 87
b = 67

print(a^b)

20

In [108]:
bin(20)

'0b10100'

In [112]:
# Explaination

print(bin(87))
print(bin(67))

# 1 0 1 0 1 1 1
# 1 0 0 0 0 1 1
# | | | | | | |
# 0 0 1 0 1 0 0    calculated by the table of xor

int(0b0010100)

0b1010111
0b1000011

20

# Bitwise left shift

# Formula A*(2**n)

- N value is not fixed

In [117]:
x = 56

print(56<<3)
print(x*(2**3))  # x stands for A in the formula

448
448

In [120]:
# Explaination

56*2**3

448

In [126]:
print(bin(56))
print(bin(448))
print(int(0b111000000)) # i jst added 3 zero at the end simple y 3 zeros cause n = 3

0b111000
0b111000000
448

# Bit wise right shift

# Formula A//(2**n)

- N value is not fixed

In [130]:
a = 34

print(34>>4)
print(a//(2**4))

print(34/16)

2
2
2.125

In [137]:
# Explaination

print(bin(34))
print(bin(2))

print(int(0b000010))       # i addedd 4 zero at left and removed 4 from right

0b100010
0b10
2

# Bitwise not operator

In [142]:
x = 50

print(~x)

-51

# Explaination

* adds 1 to the existing value
* converts its sign like + to - and - to +

In [144]:
x = -76
print(~x)

75

In [146]:
x = -99
print(~x)

98

In [148]:
# -99 = +1 = -98 and then in converts into positive value